* {
  font-family: "JetBrains Mono Nerd";
  font-size: 16px;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  background: #11111b;
  border: none;
  color: #cdd6f4;
  margin: 8px 4px 4px;
}

#clock, #idle_inhibitor, #backlight, #pulseaudio, #battery, #tray {
  background-color: #11111b;
  border-radius: 8px;
  color: #cdd6f4;
  margin: 8px 4px 4px;
  padding: 4px 8px;
}
